<style>
    .bg {
        position: absolute;
        top: 9.7%;
        background-color: black;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: .8;
    }

    .carousel-caption {
        position: absolute;
        top: 40%;
        text-align: center;
    }
</style>
<section class="fullscreen-carousel">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
        </ol>

        <!-- Slides -->
        <div class="carousel-inner">
            <div class="bg"></div>
            <div class="carousel-item active">
                <video src="/public/video/2.mp4" autoplay loop muted></video>
                <div class="carousel-caption text-white">
                    <h1 class="mb-15 wow fadeInUp delay-0-4s w-100">Senaryolarınızı Kolayca Oluşturun.</h1>
                    <div class="hero-btns mt-40 wow fadeInUp delay-0-8s">
                        {{#if isLogin}}
                        <a href="/scenario" class="theme-btn style-four">Senaryo Oluştur <i
                                class="fas fa-arrow-right"></i></a>
                        {{else}}
                        <a href="/user/login" class="theme-btn style-four">Giriş Yap <i
                                class="fas fa-arrow-right"></i></a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</section>