<!--====== Hero Section Start ======-->
<section class="hero-section-two bgs-cover rel z-2 pt-205 pb-250 rpt-150 rpb-50"
    style="background-image: url(/public/images/banner.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9">
                <div class="hero-content-two text-center text-white rpt-20">
                    <span class="sub-title wow fadeInUp delay-0-2s">Kazım CEYLAN</span>
                    <h1 class="mb-15 wow fadeInUp delay-0-4s">Senaryolarınızı Kolayca Oluşturun</h1>
                    <div class="hero-btns mt-40 wow fadeInUp delay-0-8s">
                        <a href="contact.html" class="theme-btn style-four">Senaryo Oluştur <i
                                class="fas fa-arrow-right"></i></a>
                        <a href="about.html" class="theme-btn style-five">Geliştiriciye Ulaş <i
                                class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-alpha-text mb-250">Saaslanding</div>
    <img class="dots-shape" src="/public/images/shapes/white-dots.png" alt="Shape">
    <img class="tringle-shape" src="/public/images/shapes/white-tringle.png" alt="Shape">
    <img class="close-shape" src="/public/images/shapes/white-close.png" alt="Shape">
    <div class="left-circles"></div>
    <div class="right-circles"></div>
</section>
<!--====== Hero Section End ======-->