<!--====== Solutions Section Start ======-->
<section class="solutions-section-two rel z-1 pt-130 rpt-100 pb-80 rpb-50">
    <div class="container">
        <div class="card p-3 shadow">
            <div class="card-title text-center">
                <h3>
                    Senaryo Oluştur
                </h3>
            </div>
            <div class="card-body">
                <form action="">
                    <div class="row">
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Şirket & Şahıs İsmi">
                        </div>
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Hizmet & Ürün">
                        </div>
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Çözüm Getiren Sorun">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Somut İhtiyaç">
                        </div>
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Soyut İhtiyaç">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <textarea class="form-control" id="" cols="30" rows="10"
                                placeholder="Ürün & Hizmet Özellikleri"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <textarea class="form-control" name="" id="" cols="10" rows="5"
                                placeholder="Ürün & Himzet Avantajları"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Vadedilen Kazanımlar">
                        </div>
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Yönlendirme Linki">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <input type="text" class="form-control"
                                placeholder="Videoyu izleyenlerden beklenen davranış">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Animasyon Süresi">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <textarea class="form-control" id="" cols="5" rows="4"
                                placeholder="Genel Konu Özeti"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Hedef Kitle">
                        </div>
                        <div class="col-mb-3">
                            <input type="text" class="form-control" placeholder="Hedef Kitleye Hitap Dili">
                        </div>
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Şirketin Sektörü">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Seslendirme Türü">
                        </div>
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="Yazı Tonu">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary w-100">
                                Senaryo Oluştur
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--====== Solutions Section End ======-->