<!DOCTYPE html>
<html lang="zxx">

<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--====== Title ======-->
    <title>{{title}} - Kazım CEYLAN</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/public/images/favicon.png" type="image/x-icon">
    <!--====== Google Fonts ======-->
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;600;700&display=swap"
        rel="stylesheet">
    <!--====== Font Awesome ======-->
    <link rel="stylesheet" href="/public/css/fontawesome.5.9.0.min.css">
    <!--====== Flaticon CSS ======-->
    <link rel="stylesheet" href="/public/css/flaticon.css">
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/public/css/bootstrap.4.5.3.min.css">
    <!--====== Magnific Popup ======-->
    <link rel="stylesheet" href="/public/css/magnific-popup.css">
    <!--====== Slick Slider ======-->
    <link rel="stylesheet" href="/public/css/slick.css">
    <!--====== Animate CSS ======-->
    <link rel="stylesheet" href="/public/css/animate.min.css">
    <!--====== Nice Select ======-->
    <link rel="stylesheet" href="/public/css/nice-select.css">
    <!--====== Padding Margin ======-->
    <link rel="stylesheet" href="/public/css/spacing.min.css">
    <!--====== Menu css ======-->
    <link rel="stylesheet" href="/public/css/menu.css">
    <!--====== Main css ======-->
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="/public/css/responsive.css">
    <!--====== Jquery ======-->
    <script src="/public/js/jquery-3.6.0.min.js"></script>

</head>

<body class="home-two">
    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>


        <!--====== Header Part Start ======-->
        <header class="main-header header-two bg-primary">
            <!--Header-Upper-->
            <div class="header-upper">
                <div class="container clearfix">
                    <div class="header-inner py-20">
                        <div class="nav-outer clearfix">
                            <!-- Main Menu -->
                            <nav class="main-menu navbar-expand-lg">
                                <div class="navbar-header">
                                    <div class="logo-mobile"><a href="/"><img src="/public/images/logo.png"
                                                alt="Logo" style="max-width: 200px;"></a></div>
                                    <!-- Toggle Button -->
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target=".navbar-collapse" aria-controls="main-menu">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div class="navbar-collapse collapse clearfix" id="main-menu">
                                    <ul class="navigation clearfix">
                                        <li><a href="/">Anasayfa</a></li>
                                        {{#if isLogin}}
                                        <li><a href="/scenario/briefs">Briefs</a></li>
                                        <li><a href="/scenario/hooks">Cümleler</a></li>
                                        <li><a href="/scenario/all">Senaryolar</a></li>
                                        {{/if}}
                                        <li><a href="/">Geliştiriciye Ulaş</a></li>
                                    </ul>
                                </div>

                            </nav>
                            <!-- Main Menu End-->
                        </div>

                        <div class="logo-outer mx-lg-auto ">
                            <div class="logo"><a href="/">
                                    <img src="/public/images/logo.png" alt="Logo" style="max-width: 200px;">
                                </a></div>
                        </div>

                        {{#if isLogin}}
                        <div class="menu-right d-none d-lg-flex align-items-center ml-lg-auto">
                            <a href="/scenario" class="theme-btn style-five">Senaryo Oluştur <i
                                    class="fas fa-arrow-right"></i></a>
                            <a href="/user/logout" class="theme-btn style-five ml-2">Çıkış Yap <i
                                    class="fas fa-sign-out-alt"></i></a>
                        </div>
                        {{else}}
                        <div class="menu-right d-none d-lg-flex align-items-center ml-lg-auto">
                            <a href="/user/login" class="theme-btn style-five">Giriş Yap <i
                                    class="fas fa-sign-in-alt"></i></a>
                        </div>
                        {{/if}}

                    </div>
                </div>
            </div>
            <!--End Header Upper-->

        </header>
        <!--====== Header Part End ======-->

        {{{body}}}


        <!--====== Footer Section Start ======-->
        <footer class="footer-section rel z-1">
            <div class="container">
                <div class="copyright-area text-center">
                    <p>© 2023 <a href="/">Kazım CEYLAN.</a> Tüm hakları saklıdır. @karadenizemirr Tarafından
                        Geliştirilmiştir.</p>
                </div>
            </div>
            <img class="dots-shape" src="/public/images/shapes/dots.png" alt="Shape">
            <img class="tringle-shape" src="/public/images/shapes/tringle-two.png" alt="Shape">
            <img class="circle-shape" src="/public/images/shapes/circle-two.png" alt="Shape">
            <div class="left-circles"></div>
            <div class="right-circles"></div>
        </footer>
        <!--====== Footer Section End ======-->

    </div>
    <!--End pagewrapper-->


    <!-- Scroll Top Button -->
    <button class="scroll-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></button>



    <!--====== Bootstrap ======-->
    <script src="/public/js/bootstrap.4.5.3.min.js"></script>
    <!--====== Appear js ======-->
    <script src="/public/js/appear.js"></script>
    <!--====== WOW js ======-->
    <script src="/public/js/wow.min.js"></script>
    <!--====== Isotope ======-->
    <script src="/public/js/isotope.pkgd.min.js"></script>
    <!--====== Circle Progress ======-->
    <script src="/public/js/circle-progress.min.js"></script>
    <!--====== Image loaded ======-->
    <script src="/public/js/imagesloaded.pkgd.min.js"></script>
    <!--====== Nice Select ======-->
    <script src="/public/js/jquery.nice-select.min.js"></script>
    <!--====== Magnific ======-->
    <script src="/public/js/jquery.magnific-popup.min.js"></script>
    <!--====== Slick Slider ======-->
    <script src="/public/js/slick.min.js"></script>
    <!--====== Main JS ======-->
    <script src="/public/js/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>


</body>

</html>